---
layout: default
---

<div class="posts">
	<!-- This loops through the paginated posts -->
	{% for post in paginator.posts %}
	  <article class="post">
	
	      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	
	      <div class="entry">
			{{ post.date | date: "%F" }} <br>
	        {{ post.category }} <br>
	        {{ post.excerpt }}
	      </div>
	
	      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	    </article>
	{% endfor %}

	<!-- Pagination links -->
	<div class="pagination">
	  {% if paginator.previous_page %}
	    <a href="{{ paginator.previous_page_path }}" class="previous">上一页</a>
	  {% else %}
	    <span class="previous">上一页</span>
	  {% endif %}
	  <span class="page_number "> {{ paginator.page }} （共 {{ paginator.total_pages }} 页）</span>
	  {% if paginator.next_page %}
	    <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
	  {% else %}
	    <span class="next ">下一页</span>
	  {% endif %}
	</div>
</div>
