<div style="position:fixed;right:15px;top:62px;">
  <button id="content_btn" class="btn btn-primary" style="width:43px; height:34px;">
    <i class="fa fa-lg fa-plus"></i>
  </button>
</div>
<div style="position:fixed;right:15px;top:20px;">
  <button id="nav_btn" class="btn btn-primary">
    <i class="fa fa-lg fa-navicon"></i>
  </button>
</div>

<!--不蒜子pv/uv统计-->
<div class="post-meta">
		<p>
		<span id="busuanzi_container_page_pv">
		  本文总阅读量<span id="busuanzi_value_page_pv"></span>次
		</span>
		<span id="busuanzi_container_site_pv">
			本站总访问量<span id="busuanzi_value_site_pv"></span>次
		</span>
		<span id="busuanzi_container_site_uv">
		  本站访客数<span id="busuanzi_value_site_uv"></span>人次
		</span>
		</p><br/>
</div>


<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script src="/public/js/jquery.pjax.js"></script>
<script src="/public/js/prettify/prettify.js"></script>
<!--异步js代码-->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="/public/js/base.js"></script>
<!--
<script src="/public/js/jquery.scrollUp.js"></script>
-->
<script>
    $('a[href="#{{ site.active }}"]').tab('show');
</script>


<!--button是右上方导航和显示目录的按钮-->

