<div style="position:fixed;right:15px;top:62px;">
  <button id="content_btn" class="btn btn-primary" style="width:43px; height:34px;">
    <i class="fa fa-lg fa-plus"></i>
  </button>
</div>
<div style="position:fixed;right:15px;top:20px;">
  <button id="nav_btn" class="btn btn-primary">
    <i class="fa fa-lg fa-navicon"></i>
  </button>
</div>

<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script src="/public/js/jquery.pjax.js"></script>
<script src="/public/js/prettify/prettify.js"></script>
<script src="/public/js/base.js"></script>
<!--异步js代码-->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!--
<script src="/public/js/jquery.scrollUp.js"></script>
-->
<script>
    $('a[href="#{{ site.active }}"]').tab('show');
	
	$(document).ready(function(){
		var pathName=window.document.location.pathname;
		if(pathName!="" && pathName.substr(0, 3) == "/20"){
			$(".list-group-item-lay[href='"+pathName+"']").addClass("active").siblings().removeClass("active");	
			var tabPane = $(".list-group-item-lay[href='"+pathName+"']").parents(".tab-pane");
			var id = tabPane.attr("id");
			tabPane.addClass("active").siblings().removeClass("active");
			$("[href='#"+id+"']").parent().addClass("active").siblings().removeClass("active");
		}
		
		$(".pjaxlink").click(function(){
			var targetHref = $(this).attr("href");
			var pathName=window.document.location.pathname;
			if(targetHref != pathName){
				//刷新页面
				window.location.href = targetHref;
			}
			//修改激活状态显示
			//$(this).addClass("active").siblings().removeClass("active");
		})
	});
</script>


<!--button是右上方导航和显示目录的按钮-->

