---
layout: base
---
<div class="row">
  <div class="col-md-13 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
	<br>
	<!--不蒜子pv/uv统计-->
	<div class="post-meta">
			<p>
			<span id="busuanzi_container_page_pv">
			  本文总阅读量<span id="busuanzi_value_page_pv"></span>次,
			</span>
			<span id="busuanzi_container_site_pv">
				本站总访问量<span id="busuanzi_value_site_pv"></span>次,
			</span>
			<span id="busuanzi_container_site_uv">
			  本站访客数<span id="busuanzi_value_site_uv"></span>人次
			</span>
			</p><br/>
	</div>
  </div>
  <div class="col-md-13 aside3-content">
    <div id="page-content">
      {{ content }}
    </div>
    <hr>
  </div>
</div>
