---
layout: base
---
<div class="row">
  <div class="col-md-13 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
	<br>
	<!--不蒜子pv/uv统计-->
	<div class="post-meta">
			<span id="busuanzi_container_page_pv">
			  本文总阅读量<span id="busuanzi_value_page_pv"></span>次,
			</span>
			<span id="busuanzi_container_site_pv">
				本站总访问量<span id="busuanzi_value_site_pv"></span>次,
			</span>
			<span id="busuanzi_container_site_uv">
			  本站访客数<span id="busuanzi_value_site_uv"></span>人次
			</span>
	</div>
  </div>
  <div class="col-md-13 aside3-content">
    <hr>
    <div id="content">
      {{ content }}
    </div>
    <hr>
  </div>
  <!-- 目录 -->
  <div id="content_table" style="position:fixed;right:20px;top:120px;display:none;">
    <div class="panel panel-success">
      <div class="panel-body" id="nav"></div>
    </div>
  </div>
</div>

<div id="gitmentContainer"></div>
<!--<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">-->
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<!--<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>-->
<script src="https://billts.site/js/gitment.js"></script>

<script>
var gitment = new Gitment({
    id: location.href.match(/.*\/([^\.]*?)\.html/)[1],
	title: location.href.match(/.*\/([^\.]*?)\.html/)[1],
    owner: 'mianshenglee',
    repo: 'mianshenglee.github.io',
    oauth: {
        client_id: '8e782a3c9a72b06d5ddf',
        client_secret: '564357e7721911e4eda4293e511795bf02028271',
    },
});
gitment.render('gitmentContainer');

</script>
